 @import "functions";
 @import "variables";
 @import "mixins";
 @import "root";
 @import "reboot";
 @import "type";
 @import "images";
 @import "code";
 @import "grid";
 @import "tables";
 @import "forms";
 @import "buttons";
 @import "transitions";
 @import "dropdown";
 @import "button-group";
 @import "input-group";
 @import "custom-forms";
 @import "nav";
 @import "navbar";
 @import "card";
 @import "breadcrumb";
 @import "pagination";
 @import "badge";
 @import "jumbotron";
 @import "alert";
 @import "progress";
 @import "media";
 @import "list-group";
 @import "close";
 @import "toasts";
 @import "modal";
 @import "tooltip";
 @import "popover";
 @import "carousel";
 @import "spinners";
 @import "utilities";
 @import "print"; 

* {
  font-family: 'nunito';
}

a, a:hover {
  text-decoration: none !important;
  box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'roboto';

  a {
    font-family: inherit;
  }
}

@import "./custom/header.scss";

