.header {
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
  // background: $primary;
  // background-image: linear-gradient(to right top, #1651fb, #1651fb, #1651fb, #1651fb, #1651fb, #3255fb, #435afc, #515efc, #6968fd, #7c72fd, #8d7dfe, #9c88ff);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1792' height='600' preserveAspectRatio='none' viewBox='0 0 1792 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1748%26quot%3b)' fill='none'%3e%3crect width='1792' height='600' x='0' y='0' fill='url(%23SvgjsLinearGradient1749)'%3e%3c/rect%3e%3cpath d='M1792 0L1569.45 0L1792 117.02z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1569.45 0L1792 117.02L1792 289.92L731.37 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M731.3699999999999 0L1792 289.92L1792 359.04L386.5899999999999 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M386.5899999999999 0L1792 359.04L1792 453.25L254.66999999999993 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 600L193.41 600L0 481.67z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 481.67L193.41 600L639.1 600L0 243.57000000000002z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 243.57L639.1 600L1086.7 600L0 114.28999999999999z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 114.28999999999996L1086.7 600L1406.64 600L0 94.97999999999996z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1748'%3e%3crect width='1792' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='83.37%25' y1='149.67%25' x2='16.63%25' y2='-49.67%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1749'%3e%3cstop stop-color='rgba(27%2c 62%2c 161%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(2%2c 40%2c 150%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  

  &.homepage {
    min-height: 650px;
    margin-bottom: -150px;
    clip-path: ellipse(100% 70% at 50% 20%);
    background-image: 
    radial-gradient(at 0% 0%, $cyan -90%, transparent),
    radial-gradient(at 35% 85%, $primary 15%, transparent),
    radial-gradient(at 75% 0%, $indigo , transparent);

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 500px;
      position: absolute;
      bottom: 0;
      opacity: 0.15;
      background: #e6eaf5;
      clip-path:  polygon(0% 80%, 1% 80%, 2% 79.9%, 3% 79.9%, 4% 79.7%, 5% 79.6%, 6% 79.4%, 7% 79.2%, 8% 78.9%, 9% 78.7%, 10% 78.3%, 11% 78%, 12% 77.6%, 13% 77.2%, 14% 76.8%, 15% 76.3%, 16% 75.8%, 17% 75.3%, 18% 74.8%, 19% 74.2%, 20% 73.6%, 21% 72.9%, 22% 72.3%, 23% 71.6%, 24% 70.9%, 25% 70.2%, 26% 69.4%, 27% 68.6%, 28% 67.9%, 29% 67%, 30% 66.2%, 31% 65.4%, 32% 64.5%, 33% 63.6%, 34% 62.7%, 35% 61.8%, 36% 60.9%, 37% 59.9%, 38% 59%, 39% 58%, 40% 57.1%, 41% 56.1%, 42% 55.1%, 43% 54.1%, 44% 53.1%, 45% 52.1%, 46% 51.1%, 47% 50.1%, 48% 49.1%, 49% 48.1%, 50% 47.1%, 51% 46.1%, 52% 45.1%, 53% 44.2%, 54% 43.2%, 55% 42.2%, 56% 41.3%, 57% 40.3%, 58% 39.4%, 59% 38.4%, 60% 37.5%, 61% 36.6%, 62% 35.7%, 63% 34.9%, 64% 34%, 65% 33.2%, 66% 32.3%, 67% 31.5%, 68% 30.8%, 69% 30%, 70% 29.3%, 71% 28.6%, 72% 27.9%, 73% 27.2%, 74% 26.6%, 75% 26%, 76% 25.4%, 77% 24.8%, 78% 24.3%, 79% 23.8%, 80% 23.3%, 81% 22.9%, 82% 22.5%, 83% 22.1%, 84% 21.7%, 85% 21.4%, 86% 21.1%, 87% 20.9%, 88% 20.6%, 89% 20.5%, 90% 20.3%, 91% 20.2%, 92% 20.1%, 93% 20%, 94% 20%, 95% 20%, 96% 20.1%, 97% 20.1%, 98% 20.2%, 99% 20.4%, 100% 20.5%, 100% 100%, 0% 100%);
    }
  }

  .navbar {
    color: white;
    padding: 0.5rem 0;

    &-brand {
      color: white;
      margin: 0;
      a {
        box-shadow: none;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 2rem;
        font-weight: bolder;
        transition: color 0.5s;
      }
    }

    &-nav {
      a {
        box-shadow: none;
        color: inherit;
        font-family: 'Nunito Sans', sans-serif;
        margin-left: 1rem;
        padding: 0 1rem;
        border-radius: 10px;
        transition: all .5s;
  
        &:hover {
          background: rgba($black, .25);
          color: inherit;
          text-decoration: underline;
        }
      }

      &-active {
        background: rgba($black, .25);
      }
    }
  }

  .display {
    position: relative;
    margin: 0;
    border-radius: 0;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-breakpoint-down("md"){
      // margin-top: 150px;
      flex-direction: column;
      justify-content: space-evenly;
    }

    &-text {
      margin-top: -65px;
      -webkit-animation: fadeInRight 1s; /* Safari 4+ */
      -moz-animation:    fadeInRight 1s; /* Fx 5+ */
      -o-animation:      fadeInRight 1s;
      animation:         fadeInRight 1s;
      animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);

      @include media-breakpoint-down("md"){
        text-align: center;
        margin-bottom: 2rem;
      }

      h2 {
        margin: 0;
        color: white;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 4rem;
        font-weight: 900;

        @include media-breakpoint-down("md"){
          font-size: 3rem;
        }
      }
      
      h3 {
        margin: 0;
        color: rgba(white, 0.75);
        font-family: 'Nunito Sans', sans-serif;
        font-size: 2rem;

        @include media-breakpoint-down("md"){
          font-size: 1rem;
        }
      }
    }

    &-image {
      // position: absolute;
      // bottom: 0;
      // right: 0;
      margin-top: -65px;
      margin-right: 100px;
      border-radius: 100%;
      width: 250px;
      height: 250px;
      -webkit-animation: fadeInUp 1s; /* Safari 4+ */
      -moz-animation:    fadeInUp 1s; /* Fx 5+ */
      -o-animation:      fadeInUp 1s;
      animation:         fadeInUp 1s;
      animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);

      @include media-breakpoint-down("md"){
        position: static;
        margin-right: 0;
      }
    }
  }

  .social-media {
    position: absolute;
    top: 40%;
    left: 1rem;
    transform: translate(0, -50%);
    z-index: 99;
    display: flex;
    flex-direction: column;

    a {
      color: rgba(white, 0.3);

      &:hover {
        color: white;
        transition: 0.5s;

      }
    }
  }
}